html, body, div, span, p, ul, li, ol, label, h1, h2, h3, h4, h5, h6, section {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
}

.p0 {
  padding: 0;
}

.pr0 {
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.ml0 {
  margin-left: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.p20 {
  padding: 20px;
}

.bg-white {
  background-color: white;
}

.img-full {
  width: 100%;
  height: 100%;
}

i.glyphicon {
  font-size: 13px;
  margin-left: 10px;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

body {
  font-family: Roboto;
  background-color: #f6f6f6;
}

.logo {
  margin: 25px auto 60px;
  text-align: center;
}

.logo img {
  width: 150px;
  /*height: 50px;*/
  margin-bottom: 5px;
}

.bg-box {
  margin: 20px auto 0;
  text-align: center;
}

.bg-box p {
  color: white;
  opacity: 0.5;
  font-size: 14px;
}

.bg-logo img {
  width: 40px;
  height: 40px;
}

.nav-side, footer {
  background-color: #201f26;
}

.nav-box {
  position: relative;
}

.nav-side {
  position: fixed;
  z-index: 12;
  height: 100%;
}

.wrap-menu {
  overflow: auto;
  height: calc(100% - 180px);
}

::-webkit-scrollbar {
  width: 2px; }

::-webkit-scrollbar-track {
  background: #201f26e6 }

::-webkit-scrollbar-thumb {
  background: rgba(163, 163, 163, 0.7); }

::-webkit-scrollbar-thumb:hover {
  background: #ddd; }

.menu {
  margin-bottom: 44px;
  margin-right: 10px;
}

.menu li {
  border-left: 4px solid transparent;
}

.menu li.active {
  border-left: 4px solid #ff5258;
}

.menu li a {
  width: 180px;
  white-space: normal;
  word-break: break-all;
  display: inline-block;
  padding: 6px 20px 6px 30px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.menu li a:hover {
  color: #ff5258;
  text-decoration: none;
}

.nav-info li a {
  display: inline-block;
  padding: 5px 36px;
  color: #ffffff;
  font-size: 15px;
  opacity: 0.5;
}

.nav-info li a:hover {
  text-decoration: none;
}

.main {
  padding-top: 20px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 16px;
  background-color: white;
}

.search, .other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  border-left: 1px solid rgba(32, 31, 38, 0.3);
  position: relative;
}

.search input {
  width: 90%;
  border: none;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.33;
  color: #201f26;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input:focus {
  outline: none;
}

.cloud {
  background-image: url("../img/icon/cloud.png");
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background-size: 17px 17px;
  vertical-align: bottom;
}

.hidden-all {
  display: none;
}

.dropdown-menu li.active a {
  background-color: #ff5258;
}

.i-search {
  background-image: url("../img/icon/magnifying-glass.png");
  width: 14px;
  height: 14px;
  position: absolute;
  right: 30px;
  top: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather span {
  font-size: 13px;
  color: #201f26;
}

.currency, .language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency li {
  font-size: 13px;
  color: #8f8f92;
  padding: 0 10px;
}

.language {
  border-left: 1px solid rgba(32, 31, 38, 0.3);
}

.language li a {
  font-size: 15px;
  text-align: center;
  color: #8f8f92;
  padding: 0 15px;
}

.language li a:hover,
.language li.active a {
  color: #ff5258;
  text-decoration: none;
}

.block-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: normal;
  color: #201f26;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.clock-white {
  background-image: url("../img/icon/clock-white.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.clock-black {
  background-image: url("../img/icon/clock-black.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
  opacity: 0.5;
}

.trand-news {
  position: relative;
}

.trand-news .news-title {
  margin-top: 5px;
}

.trand-news img {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trand-info {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 5px 3%;
  background-color: rgba(0, 0, 0, 0.44);
}

.category {
  padding: 3px 15px;
  background-color: #ff5258;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  margin-bottom: 10px;
  font-size: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.category:hover {
  text-decoration: none;
  color: white;
}

.trand-news .news-title, .block-news .news-title  {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  height: 65px;
  overflow: hidden;
}

.news-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  height: 48px;
  overflow: hidden;
}

.news-title:hover {
  color: #ff5258;
}

.info-stat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.info-stat li {
  font-size: 12px;
  color: #ffffff;
}

.info-stat-black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.info-stat-black li {
  font-size: 12px;
  color: #8f8f92;
}

.news-title-sm {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #201f26;
  line-height: 1.33;
  height: 39px;
  overflow: hidden;
}

.news-title-sm:hover {
  color: #ff5258;
}

.trand-small img {
  height: 160px;
}

.trand-small .news-title-sm {
  color: white;
}

.news-item img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.news-item .news-title {
  margin-bottom: 16px;
  color: #201f26;
}

.news-item .news-title:hover {
  color: #ff5258;
}

.news-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.news-list img {
  width: 40%;
  margin-right: 3%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-list .info-stat-black {
  position: absolute;
  bottom: 0;
}

.news-list-text .news-title-sm {
  margin-top: 0;
  margin-bottom: 10px;
  height: 39px;
  overflow-y: hidden;
}

.banner p {
  text-align: center;
  background-color: #e7e7e7;
  padding: 29px 0;
  font-size: 20px;
  font-weight: bold;
}

.banner .img {
  width: 100%;
  height: 84px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-feed .block-title {
  text-transform: none;
}
.news-feed {
  height: 592px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.news-feed::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  /*border: 2px solid #fff;*/
}

.news-feed::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.news-feed::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.3);
}
.news-feed .news-list {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e9;
}

.news-feed .news-title-sm {
  height: 39px;
  overflow: hidden;
  margin-bottom: 0;
}

.news-feed .info-stat-black {
  position: static;
}

.banner-side {
  background-color: #e7e7e7;
  width: 100%;
  height: 276px;
}

.banner-side .banner-image {
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular-item {
  margin-bottom: 20px;
}

.popular-item img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px;
}

.popular-item .news-title-sm {
  margin-bottom: 7px;
}

.btn-social {
  display: inline-block;
  width: 100%;
  padding: 10px 45px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.btn-social:hover {
  text-decoration: none;
  color: white;
}

.btn-social span {
  font-size: 15px;
  display: inline-block;
}

.btn-social i {
  float: left;
  display: block;
  width: 22px;
  height: 22px;
}

.ic-fb {
  background: url('../img/icon/ic-fb.png') no-repeat center/auto;
}

.ic-vk {

  background: url('../img/icon/ic-vk.png') no-repeat center/auto;
}

.ic-ins {
  background: url('../img/icon/ic-ins.png') no-repeat center/auto;
}

.ic-tw {
  background: url('../img/icon/ic-tw.png') no-repeat center/auto;
}

.btn-fc {
  background-color: #475993;
}

.btn-vk {
  background-color: #4d76a1;
}

.btn-ins {
  background-color: #ca2c9c;
}

.btn-tele {
  background-color: #61a8de;
}

footer {
  margin-left: -20px;
  padding: 34px 20px;
}

footer a {
  color: white;
  font-size: 15px;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer p {
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
}

footer h4 {
  color: #fff;
  font-size: 13px;
}

.footer-counter-wrap {
  width: 280px;
  float: right;
}

.text-email {
  text-align: right;
}

.footer-counter-item {
  float: right;
  width: 33.33333333%;
  margin: 5px 0;
  text-align: center;
}

.block-item img {
  width: 100%;
  height: 191px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.block-item .news-title {
  color: #201f26;
  font-size: 14px;
}

.block-item .news-title:hover {
  color: #ff5258;
}

.i-arrow {
  background-image: url("../img/icon/Path 2.png");
  width: 5px;
  height: 7px;
}

.arrow1 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination > li > a, .pagination > li > span {
  margin-left: 5px;
  color: #3c3c3c;
  font-size: 11px;
  -webkit-border-radius: 2.8px;
          border-radius: 2.8px;
  padding: 4px 8px;
}

.pagination > li > a:hover, .pagination > li > span:hover {
  background-color: #ff5258;
  color: white;
}

h1.block-title {
  font-size: 24px;
  font-weight: bold;
  color: #201f26;
  text-transform: none;
  margin-bottom: 10px;
}

.time-info {
  font-size: 15px;
  color: #8f8f92;
  margin-bottom: 20px;
}

.article-img {
  width: 100%;
  margin-bottom: 15px;
}

.article-text p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  color: #201f26;
  margin-bottom: 15px;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.i-fb {
  background-image: url("../img/icon/auth-soc-fb.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.i-vk {
  background-image: url("../img/icon/nbitmap.png");
  width: 33px;
  height: 32px;
  margin-left: 5px;
}

.i-ins {
  background-image: url("../img/icon/instagram.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.i-tele {
  background-image: url("../img/icon/auth-soc-fb-copy.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.i-tw {
  background-image: url("../img/icon/auth-soc-fb-copy-2.png");
  width: 33px;
  height: 32px;
  margin-left: 5px;
}

.user-comment-date {
  width: 40%;
}

.comment-list .user-info {
  width: 60%;
}

.comment-list {
  margin-top: -10px;
}

.comment-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e9;
}

.comment-list li:first-child {
  border-top: 1px solid #e8e8e9;
}

.comment-list li .time-info {
  font-size: 13px;
}

.avatar {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-info p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  color: #201f26;
}

.user-info .user-name {
  font-size: 13px;
}

.comment-leave p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  color: #201f26;
  margin-bottom: 20px;
}

form.comment-form input {
  width: 33%;
  border: 1px solid #e8e8e9;
  padding: 5px 15px;
  background-color: transparent;
  color: #8f8f92;
  font-size: 13px;
  font-weight: 500;
  margin: 0 20px 20px 0;
}

form.comment-form textarea {
  width: 70%;
  border: 1px solid #e8e8e9;
  padding: 5px 15px;
  background-color: transparent;
  color: #8f8f92;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
  resize: none;
  display: block;
}

form.comment-form button {
  background-color: #ff5258;
  padding: 5px 25px;
  text-align: center;
  color: white;
  border: none;
}

.i-burger {
  background-image: url("../img/icon/menu-button.png");
  width: 32px;
  height: 32px;
  opacity: 0.9;
}

.i-close {
  display: none;
  background-image: url("../img/icon/close.png");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 53px;
}

.btn-burger, .btn-close {
  background: transparent;
  border: none;
}

.btn-burger:focus, .btn-close:focus {
  border: none;
  outline: none;
}

@media (max-width: 992px) {
  .text-email {
    margin-top: 15px;
    text-align: center;
  }

  .footer-counter-wrap {
    float: unset;
    margin: 0 auto;
  }
  .news-feed {
    height: 382px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    display: block;
  }
  .search, .other {
    display: block;
  }
  .search {
    padding-left: 0;
    border: none;
  }
  .i-search {
    top: 8px;
    right: 11px;
  }
  .search input {
    padding: 5px;
  }
  .other {
    padding-top: 10px;
    padding-left: 0;
  }
  .language {
    margin-top: 5px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    float: right;
  }
  .language li a {
    padding: 0 8px;
  }
  .weather {
    position: relative;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
  }
  .dropdown-menu {
    min-width: 137px;
  }
  .burger-menu {
    position: relative;
    margin-bottom: 10px;
  }
  .currency li {
    padding-left: 0;
  }
  .burger {
    float: left;
  }
  .news-title {
    height: 72px;
    font-size: 15px;
  }
  .trand-news {
    margin-right: -15px;
  }
  .trand-small {
    margin: 10px 0 10px -15px;
  }
  .pr15 {
    padding-right: 15px;
  }
  .mtxs {
    margin-top: 0;
  }
  .sidebar {
    padding-left: 0;
  }
  .trand-small img{
    height: 240px;
  }
  .news-title-sm{
    font-size: 14px;
    height: 62px;
  }
  footer {
    margin-left: -20px;
  }
  footer p {
    text-align: center;
    font-size: 14px;
  }
  .nav-side {
    text-align: center;
    z-index: -1;
    width: 100%;
    opacity: 0;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }

  .i-close {
    display: block;
  }
  .comment-list li {
    margin: 0 -15px;
    position: relative;
  }
  .user-info p {
    font-size: 12px;
  }
  .comment-list li .time-info {
    position: absolute;
    top: 5px;
    right: 0;
  }
  .user-info {
    max-width: 80%;
  }
  form.comment-form input {
    width: 100%;
    margin: 0 0 20px 0;
  }
  form.comment-form textarea {
    width: 100%;
    margin: 0 0 20px;
  }
  form.comment-form button {
    width: 100%;
  }
  .logo {
    margin: 25px auto 20px;
  }
  .menu li a {
    padding: 5px 36px;
  }
  .menu {
    margin-bottom: 20px;
  }
  .bg-box {
    margin: 10px auto 0;
  }
  .news-list-text .news-title-sm{
    height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-side {
    text-align: center;
    z-index: -1;
    width: 100%;
    opacity: 0;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }
  .search {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .i-search {
    right: 10px;
    top: 12px;
  }
  .i-burger {
    margin-bottom: -20px;
  }
  .language li {
    padding-top: 8px;
  }
  .search input {
    padding-right: 5px;
    padding-left: 5px;
  }
  .trand-news {
    margin-right: -15px;
  }
  .trand-small {
    margin: 10px 0 10px -15px;
  }
  .pr15 {
    padding-right: 15px;
  }
  .mtxs {
    margin-top: 0;
  }
  .news-title {
    height: 56px;
    font-size: 15px;
  }
  .news-title-sm {
    height: 36px;
    font-size: 15px;
  }
  .news-list-text .news-title-sm{
    height: 40px;
  }
  footer {
    margin-left: -20px;
  }
  footer p {
    text-align: center;
    font-size: 14px;
  }
  .i-close {
    display: block;
  }

  .trand-news img{
    height: 330px;
  }
  .trand-small img{
    height: 260px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .nav-side {
    left: 0;
  }
  .search {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .i-search {
    right: 10px;
    top: 12px;
  }
  .language li {
    padding-top: 8px;
  }
  .search input {
    padding-right: 5px;
    padding-left: 5px;
  }
  .trand-news {
    margin-right: -15px;
  }
  .trand-small {
    margin: 0px 0 10px 0px;
  }
  .pr15 {
    padding-right: 15px;
  }
  .mtxs {
    margin-top: 0;
  }
  .news-title {
    font-size: 13px;
  }
  .news-title-sm {
    font-size: 11px;
  }
  footer {
    margin-left: -20px;
  }
  footer p {
    text-align: center;
    font-size: 14px;
  }
}

/* extra styles */
.block-item .search-image-wrap {
  float: left;
  width: 34%;
}

.block-item .search-info-wrap {
  float: left;
  width: 66%;
  padding-left: 10px;
}

.block-item .search-info-wrap .news-title {
  height: unset;
}

/* share */
.addthis_inline_share_toolbox_68yd {
  margin-bottom: 30px;
}

.at-resp-share-element .at-share-btn .at-label {
  display:none;
}

.at-style-responsive .at-share-btn {
  border-radius: 50% !important;
}

span.at-icon-wrapper {
  width: 24px !important;
  height: 24px !important;
}

.at-resp-share-element .at-icon, .at-resp-share-element .at-label {
  width: 24px !important;
  height: 24px !important;
}
/* share end */

.logo_desc{
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;

}

.logo a:hover{
  text-decoration: none;
}

.not-found {
  text-align: center;
}

.banner {
  width: 100%;
  height: 90px;
}

.back-top {
  display: none;
}

.arrow-top {
  width: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #ccc;
  padding: 10px;
}

.gall_image {
  display: inline!important;
}